* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 88px 80px 137px 80px;
}

#page {
    background-color: white;
    width: 1120px;
    margin: 88px auto;
    font-family: 'Open Sans', sans-serif;
}

h1 {
padding-bottom: 40px;
font-size: 36px;
}

#adh h1 {
    padding-bottom: 0;
    font-size: 32px;
}

h3 {
    color:#e1624f;
    font-size: 16px;
    line-height: auto;
    font-weight: bold;
    text-transform: uppercase;
    padding-bottom: 8px;
}

p {
    text-align: center;
}

#busan p {
    font-style: italic;
}

#adh p {
    padding-top: 8px;
    text-align: left;
}

#p-hr {
    text-align: center;
}



hr {
    color: #b9b9b9;
    margin-bottom: 64px;
    margin-top: 40px;
    
}

img {
    border-radius: 28px;
    width: 1120px;
    height: 660px;
    margin-bottom: 24px;
}

#adh img {
    height: 350px;
    object-fit: cover;
    width: 100%;
    margin-top: 48px;
    margin-bottom: 20px;
}

li {
    font-size: 16px;
    font-weight: bold;
}

#li-m {
    color: #0C51A7;
}

#li-c {
    color:#591B98 ;
}
#li-f {
    color: #E5245E;
}
#li-o {
    color: #E95E10;
}

footer {
    text-align: center;
    font-size: 16px;
    padding-bottom: 48px;
    padding-top: 65px;
}

#coracao {
    width: 16px;
    height: 16px;
    transform: translateY(25px);
}

